.button {
	border-radius: 0.25em;
	background: $button-blue;
	text-decoration: none;
	color: white;
	padding: 0.5em 0.75em;
	font-size: 0.8em;
	transition: background 0.5s ease;
	white-space: nowrap;

	&:hover {
		background: $button-blue-dark;
	}
}
