.table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;

	th {
		padding: 0.75em 1.5em;
	}

	td {
		padding: 0.5em 1.5em;
	}
}

.row {
	border-bottom: solid 1px $table-gray-mid;
	transition: background 0.3s ease;

	&:hover {
		background: $table-gray-soft;
	}
	&--head {
		background: $table-gray-soft;
	}
}

.description_cell {
	width: 30%;
}

.username {
	text-align: center;
}
